/*
 * Empty Stylesheet file.
 */

*{
    -fx-font-family: Roboto;
    -fx-base-color-text-focus:#ffffff;
    -fx-base-color-text-unfocus:#000000;
    -fx-base-color-btn-focus:#072A2D;
    -fx-base-color-btn-unfocus:#154762;
    -fx-base-color-fondo: #05444C;

}

.jft-fondo{
    -fx-background-color:-fx-base-color-fondo;
}

.label{
    -fx-text-fill:-fx-base-color-text-focus;
    -fx-font-size:25;
    -fx-font-weight: bold;
}

.jfx-button{
    -fx-text-fill:-fx-base-color-text-focus;
    -fx-font-size: 20;
    -fx-background-radius: 10;
    -fx-background-color:-fx-base-color-btn-focus;
}

.jfx-button:hover{
    -fx-background-color:-fx-base-color-btn-unfocus;
    -fx-text-fill:-fx-base-color-text-unfocus;
}

.jfx-btn-nueva-partida > ImageView{-fx-image:url("../resources/NuevoJuego.png");}
.jfx-btn-cargar-partida > ImageView{-fx-image:url("../resources/Cargar.png");}
.jfx-btn-puntaje > ImageView{-fx-image:url("../resources/puntaje.png");}
.jfx-btn-instrucciones > ImageView{-fx-image:url("../resources/Instrucciones.png");}
.jfx-btn-acercade > ImageView{-fx-image:url("../resources/Acercade.png");}
.jfx-btn-salir > ImageView{-fx-image:url("../resources/Salida.png");}

/******Registro******/
.jfx-btn-buscar > ImageView{ -fx-image:url("../resources/Buscar.png");}
.jfx-image-unpalo { -fx-image:url("../resources/UnPalo.png");}
.jfx-image-dospalos { -fx-image:url("../resources/DosPalos.png");}
.jfx-image-cuatropalos { -fx-image:url("../resources/CuatroPalos.png");}
.jfx-image-cara-blanca {-fx-image:url("../resources/E1.png");}
.jfx-image-cara-negra {-fx-image:url("../resources/1E.png");}
.jfx-image-espalda {-fx-image:url("../resources/back1.png");}
.jfx-image-espalda-dorada {-fx-image:url("../resources/back3.png");}


/******Instrucciones******/

.label-instrucciones-titulo{
    -fx-text-fill:-fx-base-color-text-unfocus;
    -fx-font-size:15;
    -fx-font-weight: bold;
}
.label-instrucciones-texto{
    -fx-text-fill:-fx-base-color-text-focus;
    -fx-font-size:12;
    -fx-font-weight: bold;
}

.jfx-image-obje { -fx-image:url("../resources/obje.png");}
.jfx-image-puntaje {-fx-image:url("../resources/puntos.png");}
.jfx-image-mover {-fx-image:url("../resources/mover.png");}
.jfx-image-escalera {-fx-image:url("../resources/escaleras.png");}
.jfx-image-mescalera {-fx-image:url("../resources/MovEscalera.png");}
.jfx-image-vpalos {-fx-image:url("../resources/VariosPalos.png");}
.jfx-image-cvacias {-fx-image:url("../resources/ColumVacias.png");}
.jfx-image-baraja {-fx-image:url("../resources/BarajasReserva.png");}

/******Tablero******/

.jfx-btn-pista > ImageView{-fx-image:url("../resources/Pista.png");}
.jfx-btn-guardar > ImageView{-fx-image:url("../resources/Guardar.png");}
.jfx-btn-menu > ImageView{-fx-image:url("../resources/Menu.png");}
.jfx-image-silueta {-fx-image:url("../resources/Silueta.png");}
.jfx-image-fondo {-fx-image:url("../resources/VerdeOscuro1.jpg");}

/******Tablas******/

.table-view{
    -fx-background-color:#6B98B6;
    -fx-background-radius:20;
    -fx-fill:white;
}

.table-view .column-header-background{
    -fx-background-color:#154762;
    -fx-background-radius:20;
    -fx-background-insets: 0 0 10 0;
    -fx-padding:0 0 10 0;
    -fx-effect: dropshadow(two-pass-box,#373737,15,0.0,0.1,3);
}

.table-view .column-header, table-view .filler{
    -fx-size:30;
    -fx-border-width: 15px;
    -fx-background-color:transparent;
}

.table-view .column-header .label{
    -fx-text-fill:white;
    -fx-font-size:15;
    -fx-alignment: CENTER;
}

.jfx-border-general{
    -fx-border-color: #97a692;
    -fx-border-width: 5px;
    -fx-background-color: #FFFFFF;
    -fx-effect: dropshadow(three-pass-box,rgba(0,0,0,0.8),10,0,0,0);
}

.jfx-borde-columna{
    -fx-border-width: 3px;
    -fx-border-color: #FFFFFF;
    -fx-effect: dropshadow(three-pass-box,rgba(0,0,0,0.8),10,0,0,0);
}

.jfx-text-fild {
    -fx-font-family: Roboto;
    -fx-background-color: #cceffc;
    -fx-text-fill: #000099;
    -fx-prompt-text-fill: #5aaff0;
    -fx-text-box-border: transparent;
    -fx-background-radius: 25;
    -fx-padding: 8;
    -fx-font-weight: bold;
    -fx-font-size: 20px;
}

.jfx-text-radio-buttons {
    -fx-font-family: Roboto;
    -fx-text-fill: #00ffff;
    -fx-font-weight: bold;
    -fx-font-size: 14px;
}

.table-cell {     
    -fx-padding: 0.5em 0.5em 0.1em 0.3em;
    -fx-border-color: -fx-box-border -fx-box-border transparent transparent;  
    -fx-font: 13px "Segoe UI";    
    -fx-border-insets: 0;
    -fx-alignment:CENTER;
    
}
/*****ViewFinalizar****************/
.jfx-image-trofeo { -fx-image:url("../resources/qtrofeo.png");}

.fx-background-finalizar{
    -fx-background-image: url(../resources/qBlue.jpg);
    -fx-background-size: 110% auto;
    -fx-background-position: center;
}